*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-transform: uppercase;
}
nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: fixed;
}
nav .logo{
    width: 30%;
    color: #efc3a4;
    font-size: 35px;
    font-weight: light;
    text-align: center;

}
.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.menu a{
    text-decoration: none;
    padding-bottom: 5px;
    font-size: larger;
    color: seashell;
    font-weight: light;
    
}
.menu a:hover{
    color: #efc3a4;
    border-bottom:2px solid #efc3a4 ;
}   
    

main{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: seashell;
}
main h1{
    margin-bottom: 10px;
    font-weight: lighter;
}

main h3{
    margin-bottom: 10px;
    font-weight: lighter;
}
main .btn{
    margin-top: 5px;
    width:17vw;
    display: flex;
    justify-content: space-between;
   
    
}
main .btn a{
    text-decoration: none;
    color:thistle;
    border: 1px solid thistle;
    border-radius: 50px;
    padding: 3px 6px 3px 6px;
    font-weight: light;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}
main .btn a:hover{
    background-color: #efc3a4 ;
    color: #6f4e37;
    
    
}
.clr{
    animation: colorchange 4s infinite;
}

@keyframes colorchange{
    0%{color:white;}
    25%{color:#efc3a4;}
    50%{color:white;}
    75%{color:thistle;}
    100%{color:white;}
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    width: 30%;
    height: 10%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 16 16px 16px 16 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .about{
      display: flex;
      flex-direction: column;
  }
  .aboutcontent{
      display: flex;
      justify-content: space-between;
  }
  .aboutcontent img{
      width: 50%;
      height: 200px;

  }
  .aboutheading h1{
      text-align: center;
      padding: 20px;
      text-transform: capitalize;
      
      
  }